.idea/dictionaries
.idea/libraries
.idea/shelf
.idea/workspace.xml
.idea/codestream.xml
*~
.env
.DS_Store
.tsbuildinfo
dist/
jb/.classpath
jb/bin/main/
jb/bin/test/

shared/agent/newrelic_agent.log


**/node_modules/